<!DOCTYPE html>

{% extends './base.html' %}
{% load auth_extras %}
{% block content %}

<div class="container">

  <div class="page-header">
    <h1>Schilderijen</h1>
  </div>

  <div class="jumbotron">
    <ol>
      <div class="card-deck">
        {% for painting in painting_list %}
        <div class="card">
          <img class="card-img-top" src="{{ painting.image.url }}" alt="Card image cap">

          <div class="card-body">
            <h2 class="card-title"><a href="{% url 'noviwebshopapp:painting_detail' pk=painting.pk %}" class="painting-detail-link">{{ painting.name }}</a></h2>
            <p class="card-text">{{ painting.description }}</p>
            <p class="card-text">Gemaakt door: {{ painting.author.get_full_name }}</p>
            <p class="card-text">{{ painting.price }} BTC p/m</p>
            <a href="{% url 'noviwebshopapp:painting_detail' pk=painting.pk %}" class="stretched-link"></a>

            {% if not request.user|has_group:"Teachers" and user.is_authenticated %}
            <div class="card-footer bg-transparent">
              <p><a class="btn btn-info" href="{% url 'noviwebshopapp:painting_detail' pk=painting.pk %}">Huren</a></p>
            </div>
            {% endif %}

          </div>
        </div>
        {% endfor %}
      </div>
    </ol>
  </div>

</div>
{% endblock %}
