{% extends './base.html' %}
{% block content %}

<div class="jumbotron">
    <h1>Inloggen: </h1>
    <form action="{% url 'noviwebshopapp:Inloggen' %}" method="post">
        {% csrf_token %}
        <label for="username">Gebruikersnaam: </label>
        <input type="text" name="username" placeholder="Gebruikersnaam">

        <label for="password">Wachtwoord: </label>
        <input type="password" name="password">

        <input type="submit" name="login" value="Login">
    </form>

</div>

{% endblock content %}