<!DOCTYPE html>

{% extends './base.html' %}
{% block content %}
{% load auth_extras %}

<div class="container">
  <div class="jumbotron">
    <h1>
      {% if not form.instance.pk %}
      Upload een schilderij
      {% elif request.user|has_group:"Teachers" %}
      Update je schilderij
      {% else %}
      Schilderij huren
      {% endif %}
    </h1>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        {{ form.as_p }}
      </div>
      <input type="submit" class="btn btn-primary" value="Doorgaan">
    </form>

  </div>
</div>

{% endblock %}
