h1 {
    color: orange;
}

table, th, td {
    border: 2px solid black;
}

.container-navbar {
    padding-bottom: 75px;
}

.image-container {
    width: 20rem;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.painting-detail-link {
    color: orange !important;
}